p {
  background-color:#F6B618;
  padding: 10px;
  padding-bottom: 65px;
  width: 200px;
  display: inline-block;

  }

div {
  color: white;
  background-color: #2B2B2B;
  padding: 10px;
  padding-bottom: 65px;
  width: 200px;
  display: inline-block;
  margin: 15px;
}
