.div-1{
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;

}
.bandera-amarilla {
  background-color:#F6B618;
}

.bandera-gris {
  color: white;
  background-color: #2B2B2B;
}
.div-2{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;

}

.div-3{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
}

.div-4{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  display: inline;
}
